.container {
  width: 100%;
  height: 850px;
  border: 1px solid black;
  display: block;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 30px;
  margin-left: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  margin: 8px;
}
.horizontal {
  width: 92%;
  height: 1px;
  margin-left: 60px;
  margin-bottom: 20px;
  background-color: rgb(128, 128, 128);
}
.contact-first {
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 20px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 60px;
  background-color: #fff;
  display: flex;
}

.contact-second {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 490px;
  background-color: #fff;
  margin-left: 60px;
  padding: 20px;
}

.address,
.contacts,
.icon {
  width: 33%;
  height: 110px;
}

.fa-square-phone {
  margin-top: 30px;
  margin-left: 10px;
  color: brown;
  font-size: 30px;
}
.fa-envelope {
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(23, 162, 184);
  font-size: 28px;
}
.tel {
  color: brown;
  font-size: 25px;
  text-decoration: none;
}
.email {
  color: rgb(23, 162, 184);
  font-size: 25px;
  text-decoration: none;
}
.fa-location-dot {
  color: brown;
  font-size: 40px;
  margin-left: 200px;
  margin-top: 30px;
}
address {
  font-style: normal;
  font-size: 25px;
  margin-left: 10px;
}
.input-section {
  width: 62%;
  height: 395px;
  flex-wrap: wrap;
}
.input-field {
  width: 40%;
  height: 20px;
  margin: 10px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 7px;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 450px;
  width: 550px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 550px;
}
textarea {
  margin-left: 10px;
  border-radius: 6px;
}
.button {
  background-color: brown;
  color: white;
  border-radius: 6px;
  border: 1px solid brown;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 12px;
  height: 40px;
  width: 10%;
}
.fa-facebook-square {
  font-size: 32px;
  color: rgb(28, 22, 112);
}
.fa-twitter-square {
  font-size: 32px;
  color: rgb(23, 171, 234);
}
.fa-linkedin {
  font-size: 32px;
  color: rgb(11, 127, 177);
}
.fa-github-square {
  font-size: 32px;
  margin-right: 420px;
}
